<header>
    <div class="container"> 
        <div class="row"> 
            <div>
                <h2 id="work"><br></h2>
                <h2><br></h2>
                <h2>WORK</h2>
            </div>
        </div>
    </div>
</header>

<section class="musicplayer">
    <div class="container">
        <div class="row">
            <div>
                <h3 style="padding-bottom: 5px;">Game Audio - Adaptative Music Sound </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md iframe">
                <iframe src="https://ariazul.github.io/Music-player-library-01.github.io/" width="100%" height="900px" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</section>

<section class="musicplayer">
    <div class="container">
        <div class="row">
            <div>
                <h3 style="padding-bottom: 5px;">Audiovisual Sound Stock </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md iframe">
                <iframe src="https://ariazul.github.io/Music-player-library02.github.io/" width="100%" height="900px" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container visor">
        <div class="row">
            <div class="col-md">
                <h3 style="padding-top: 3%;">Videogames Audio Demo</h3>
            </div>
        </div>
    </div>

    <div class="container visor">
        <div class="row">
            <div class="col-md">
                <h4>Calm Island</h4>
            </div>
        </div>
        <div class="row watch">
            <div class="video" >
                <iframe class="reproductor" src="https://www.youtube.com/embed/A-NWjOYo-S0"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
            
        <div class="row">
            <div class="col-md">
                <p>Clam Island es un videojuego de exploración diseñado y desarrollado por un equipo de dos artistas y técnicos, quienes actualmente seguimos trabajando para alcanzar una versión beta. Las herramientas utilizadas para la creación de este proyecto fueron principalmente Unity como motor de videojuegos, Blender como herramienta adicional para modelado y texturas, y Wwise como middleware de audio. En este walkthrough inicial de prueba pueden apreciarse la implementación de ambientes generativos y adaptativos, curvas de atenuación y filtros responsivos a la distancia, sistemas de pasos adaptativos, scripts de audio en C#, música generativa y espacios reverberantes. </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h3 style="padding-bottom: 5px;">Audiovisual Sound Stock </h3>
            </div>
            <app-hover-videos></app-hover-videos>
        </div>
    </div>
</section>




