<header>
    <div class="container info-formation" id="formation">
        <div class="row"><br><br><br></div>
        <div class="row">
            <div class="col-md-3">
                <h2 id="education"><br></h2>
                <h2><br></h2>
                <h2>EDUCATION</h2>
            </div> 
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="linea-tiempo col-md">
                <div class="momento col-md year2019">
                    <h3>2019</h3>
                    <div class="description">
                        <p>Curso: Sonido y Grabación. (Estudio Urbano // CABA, Argentina)</p> 
                    </div>
                    <div class="description">
                        <p>Curso: Ableton Live. (Estudio Urbano // CABA, Argentina)</p> 
                    </div>
                </div>
            </div>
            <div class="momento col-md year2020-t">
                <h3>2020 - 2023</h3>
                <div class="description">
                    <p>Tecnicatura Superior en Sonido y Producción Musical.<br>(Tamaba // CABA, Argentina)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="momento col-md year2020">
                <h3>2020</h3>
                <div class="description">
                    <p>Diplomatura: Music Business. [Becado]<br>(Florida World University // Florida, USA)</p>
                </div>
                <div class="description">
                    <p>Masterclass: Estructura del Diseño Sonoro. (Iván Markovic)</p>
                </div>
            </div>
            <div class="momento col-md year2022-t">
                <h3>2022 - 2023</h3>
                <div class="description">
                    <p>Curso: Programación Web. <br>(INTI y Cessi // Argentina)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!--<div class="col-md-3"></div>-->
            <div class="momento col-md year2022">
                <h3>2022</h3>
                <div class="description">
                    <p>Curso: Audio for Games. (UTN // CABA, Argentina)</p>
                </div>
            </div>
            <div class="momento col-md year2023">
                <h3>2023</h3>
                <div class="description">
                    <p>Seminario: Mezcla Binaural. (Andres Mayo)</p>
                </div>
                <div class="description">
                    <p>Taller de Composición. (Emilio Solla)</p>
                </div>
                <div class="description">
                    <p>2023 Immersive Audio Academy. (AES)</p>
                </div>
                <div class="description">
                    <p>Seminario: Modern Monitoring Loudspeakers and Immersive Monitoring Applications.(FIA, FIUBA & PUCP)</p>
                </div>
            </div>
        </div>
    </div>
</section>
