<header>
    <div class="container info-formation" id="formation">
        <div class="row"><br><br><br></div>
        <div class="row">
            <div class="col-md-3">
                <h2 id="education"><br></h2>
                <h2><br></h2>
                <h2>EDUCATION</h2>
            </div> 
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="linea-tiempo col-md">
                <div class="momento col-md year2019">
                    <h3>2019</h3>
                    <div class="description">
                        <p>Sonido y Grabación. MO (Estudio Urbano / CABA)</p> 
                    </div>
                    <div class="description">
                        <p>Ableton Live Suite. (Estudio Urbano / CABA)</p> 
                    </div>
                </div>
            </div>
            <div class="momento col-md year2020-t">
                <h3>2020 - 2023</h3>
                <div class="description">
                    <p>Tecnicatura Superior en Sonido y Producción Musical.<br>(Tamaba / CABA)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!--<div class="col-md-3"></div>-->
            <div class="momento col-md year2022">
                <h3>2022</h3>
                <div class="description">
                    <p>Audio for Games. (Universidad Tecnologica Nacional / CABA)</p>
                </div>
                <div class="description">
                    <p>Programación Web (Cessi, Inti /Arg)</p>
                </div>
            </div>
            <div class="momento col-md year2023">
                <h3>2023</h3>
                <div class="description">
                    <p>Diplomatura en Administración IACC (Universidad Tecnologica Nacional / CABA)</p>
                </div>
                <div class="description">
                    <p>2023 Immersive Audio Academy. (AES)</p>
                </div>
                <div class="description">
                    <p>Economía, costos, monotributo, AFIP (Universidad Tecnologica Nacional / CABA)</p>
                </div>
                <div class="description">
                    <p>Taller de Composición. (Emilio Solla)</p>
                </div>
            </div>
        </div>
    </div>
</section>
