<header>
    <h2></h2>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h2 id="contact"></h2>
                <h2><br><br></h2>
                <h1 >¡Sigamos en contacto!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <h2>Visita mis espacios en redes.</h2>
            </div>
        </div>
<br><br>
        <div class="row">
            <div class="col-md redes">
                <app-redes></app-redes>
            </div>
        </div>
<br><br><br>
    </div>
</section>

           
