

<head>
  <meta charset="UTF-8">
  <title>Card Hover Interactions</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<header>
  <div class="container"> 
      <div class="row"> 
          <div>
              <h2 id="skills2"><br></h2>
              <h2><br></h2>
              <h2 style="display: flex; justify-content:center; font-weight: 600;">SKILLS & SOFTWARE</h2>
          </div>
      </div>
  </div>
</header>

<body>
<!-- partial:index.partial.html -->
<main class="page-content">
  <div class="card">
    <div class="content">
      <h2 class="title">Audio</h2>
      <ul>
        <li><h4>Reaper</h4></li>
        <li><h4>Cubase</h4></li>
        <li><h4>Pro Tools</h4></li>
        <li><h4>Ableton Live</h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4>Composición</h4></li>
        <li><h4>Grabación</h4></li>
        <li><h4>Edición</h4></li>
        <li><h4>Mezcla Binaural</h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Game Audio</h2>
      <ul>
        <li><h4>Unity</h4></li>
        <li><h4>Steam Audio</h4></li>
        <li><h4>Wwise Middleware</h4></li>
        <li><h4>GitHub</h4></li>
        <li><h4>Diseño Conceptual</h4></li>
        <li><h4>Implementación</h4></li>
        <li><h4>Audio Interactivo y Adaptativo</h4></li>
        <li><h4>Música Generativa</h4></li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Audiovisuals</h2>
      <ul>
        <li><h4>Sound Grid (Principiante)</h4></li>
        <li><h4>Kontakt Libraries</h4></li>
        <li><h4>Dante (Programado)</h4></li>
        <li><h4>Izotope Ozone</h4></li>
        <li><h4>SFX Design</h4></li>
        <li><h4>Diálogos</h4></li>
        <li><h4>Sintesis</h4></li>
        <li><h4>Music Concepts</h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Production</h2>
      <ul>
        <li><h4>Adaptabilidad</h4></li>
        <li><h4>Formatos Específicos</h4></li>
        <li><h4>Optimización de Rendimiendo</h4></li>
        <li><h4>Compatibilidad</h4></li>
        <li><h4>...</h4></li>
        <li><h4>Español [Nativo]</h4></li>
        <li><h4>Ingles [Principiante]</h4></li>
        <li><h4>Frances [Principiante]</h4></li>
      </ul>
    </div>
  </div>
  
</main>
<!-- partial -->
  
</body>


