

<head>
  <meta charset="UTF-8">
  <title>Card Hover Interactions</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<header>
  <div class="container"> 
      <div class="row"> 
          <div>
              <h2 id="skills2"><br></h2>
              <h2><br></h2>
              <h2 style="display: flex; justify-content:center; font-weight: 600;">SKILLS & SOFTWARE</h2>
          </div>
      </div>
  </div>
</header>

<body>
<!-- partial:index.partial.html -->
<main class="page-content">
  <div class="card">
    <div class="content">
      <h2 class="title">Audio</h2>
      <ul>
        <li><h4>Reaper</h4></li>
        <li><h4>Cubase</h4></li>
        <li><h4>Pro Tools</h4></li>
        <li><h4>Ableton Live</h4></li>
        <li><h4></h4></li>
        <li><h4>Mezcla</h4></li>
        <li><h4>Grabación</h4></li>
        <li><h4>Mezcla Binaural</h4></li>
        <li><h4>Mezcla Surround</h4></li>
        <li><h4>Composición</h4></li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Game Audio</h2>
      <ul>
        <li><h4>Unity</h4></li>
        <li><h4>Steam Audio</h4></li>
        <li><h4>Resonance Audio</h4></li>
        <li><h4>Wwise</h4></li>
        <li><h4>...</h4></li>
        <li><h4></h4></li>
        <li><h4>Diseño Sonoro</h4></li>
        <li><h4>Sintesis</h4></li>
        <li><h4>Implementación</h4></li>
        <li><h4>Audio Interactivo</h4></li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Programación</h2>
      <ul>
        <li><h4>JavaScript</h4></li>
        <li><h4>Java</h4></li>
        <li><h4>C#</h4></li>
        <li><h4>...</h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4>HTML</h4></li>
        <li><h4>CSS</h4></li>
        <li><h4>...</h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4>Angular</h4></li>
        <li><h4>GitHub</h4></li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Idiomas</h2>
      <ul>
        <li><h4>Español</h4></li>
        <li><h4>[Nativo]</h4></li>
        <li><h4>...</h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4>Ingles</h4></li>
        <li><h4>[Avanzado]</h4></li>
        <li><h4>...</h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4></h4></li>
        <li><h4>Japones</h4></li>
        <li><h4>[Principiante]</h4></li>
        <li><h4></h4></li>

      </ul>
    </div>
  </div>
</main>
<!-- partial -->
  
</body>


