

<head>
    <meta charset="UTF-8">
    <title>Card Hover Interactions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
  <!-- partial:index.partial.html -->
  <main class="page-content">
    <div class="card">
      <div class="content">
        <h2 class="title">Audiovisuals. <br>MusicSound. <br>BTTF Dedicado.</h2>
        <ul>
          <li>
            <a href="https://www.youtube.com/watch?v=LloVWaVG27E" target="_blank">
              <h4>Haz click para ver el video.</h4>
              <br>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Audiovisuals. <br>MusicSound. <br>Montaje. <br>ComposicionOriginal</h2>
        <ul>
          <li>
              <h4>Proximamente.</h4>
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Audiovisuals. <br>MusicSound. <br>Dolby DTS.</h2>
        <ul>
          <li>
            <a href="https://www.youtube.com/watch?v=fdYmg063wgI" target="_blank">
              <h4>Haz click para ver el video.</h4>
              <br>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Audiovisuals. <br>PreviewSlice. <br>CastleDark.</h2>
        <ul>
          <li>
            <a href="https://www.youtube.com/watch?v=FUT0Eb0iHt8" target="_blank">
              <h4>Haz click para ver el video.</h4>
              <br>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">GameAudio. <br>PreviewSlice. <br>TimeFlies.</h2>
        <ul>
          <li>
            <a href="https://www.youtube.com/watch?v=3GXAJfnacas" target="_blank">
              <h4>Haz click para ver el video.</h4>
              <br>
            </a>
          </li>
        </ul>
      </div>
    </div>
    
  </main>
  <!-- partial -->
    
  </body>
  
  
  