<div class="container">
    <div class="row">
        <div class="col-md-7">
            <p>Para mí, el sonido y el silencio emocionan, cuentan historias e inspiran; llegan a dónde ninguna otra forma de expresión puede llegar y expanden los límites de cualquier visión. Mi objetivo es fusionar aspectos técnicos y creativos a fin de alcanzar experiencias cautivadoras y únicas acompañando conceptos audiovisuales. </p>
        </div>

    </div>
 </div>

 <div class="container">
    <div class="redes">
        <div class="link">
            <app-redes></app-redes>
        </div>
    </div>
</div>