<head>
    <meta name="" content="width-device-width, initial-scale-1.0">
</head>
<header>
    <div class="container"> 
        <div class="row"> 
            <div>
                <h2 id="skills2"><br></h2>
                <h2><br></h2>
                <h2>MY SKILLS</h2>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <i class="fab fa-windows"></i>
                            <h3>AUDIO</h3>
                        </div>

                    </div>
                    <div class="face face2">
                        <div class="content">
                            <ul>
                                <li>
                                    <h4>Reaper</h4>
                                </li>
                                <li>
                                    <h4>Audacity</h4>
                                </li>
                                <li>
                                    <h4>Audacity</h4>
                                </li>
                                <li>
                                    <h4>Audacity</h4>
                                </li>
                                <li>
                                    <h4>Audacity</h4>
                                </li>
                                <li>
                                    <h4>Audacity</h4>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>